__pycache__/
*.py[cod]
.venv*/
/AGENTS.md
/agents.md

outputs/*
!outputs/checkpoints/
!outputs/gifs/
!outputs/logs/
!outputs/plots/
outputs/checkpoints/*
outputs/gifs/*
outputs/logs/*
outputs/plots/*
!outputs/checkpoints/.gitkeep
!outputs/gifs/.gitkeep
!outputs/logs/.gitkeep
!outputs/plots/.gitkeep
